@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.backButton {
    color: white;
    background-color: black;
    border-color: white;
    cursor: pointer;
    font-size: 1.3em;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vh;
    margin-left: 1vw;
    font-family: 'Montserrat', sans-serif;
}