header {
    text-align: center;
    font-size: 4em;
}

#header_text {
    text-align: center;
}

#container_1 {
    display: inline-block;
}

p {
    display: inline-block;
}

#paragraph_1 {
    display: inline-block;
    width: 40vw;
    margin-right: 5vw;
    margin-left: 2vw;
}

img {
    display: inline-block;
    vertical-align: middle;
}