<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Pratyush's Cool Website</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/general_style.css')}}">
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/boy_scouts_style.css')}}">
</head>
<body>
    <button class = "backButton" onclick = "history.back()">Back</button>
    <header>Boy Scouts</header>
    <br>
    <p style = "text-align: center; font-size: 1.5em;">I have been a Scout since kindergarten—it took nearly a decade of work to earn the rank of Eagle Scout, which I achieved during the summer of 2024. Below is my journey through the ranks, ending with my Eagle Scout project.</p>
    <!-- Pictures of me or badges of ranks or something -->
    <br>
    <div id = "div_1">
        <p>I started off my journey as a Cub Scout throughout elementary school.</p> 
        <img src = "../static/img/cub_scouts_badges_img.png" alt = "The image seems to not be working. Caption: Picture of Cub Scouts rank badges." width = "1200vw">
    </div>
    <br>
    <!-- Eagle Scout Project -->
    <h2 style = "text-align: center; font-size: 3em;">Eagle Scout Project</h2>
    <div id = "videoContainer">
        <!-- Group 1 -->
        <h2>Question: How do you handle and cope with stress in your life?</h2>
        <iframe src="https://drive.google.com/file/d/1atDm2Ps2mrV4S1OMbQNqOwZwNXrY7JU0/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <iframe src="https://drive.google.com/file/d/1co7HKljbOJ95SZk2cHnxbfcrBLGei2bS/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <iframe src="https://drive.google.com/file/d/1hKQ65hBz3LecM4AjaNGVBhjHXDQITiR-/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <!-- Group 3 -->
        <h2>Question: What is one significant challenge you have faced in your life? How did you overcome it?</h2>
        <iframe src="https://drive.google.com/file/d/1va3ihvM9aiQO-tBAh1iHUh3Xfi1IbcuY/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <iframe src="https://drive.google.com/file/d/1lEa7ndLSHGvwTmQP_-54NAS3_xjamcj9/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <iframe src="https://drive.google.com/file/d/18Ep8VTKvcEiHxn3IO39DuP9a2WcI2Qri/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <!-- Group 5 -->
        <h2>Question: What was it like where you grew up?</h2>
        <iframe src="https://drive.google.com/file/d/1oJyJoXYqFo1hYjf8XTfwnm9cguRc7t7v/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <iframe src="https://drive.google.com/file/d/1Rh1jbhBLgzQTaLMJXCQh9gyBRuY1UFKz/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <iframe src="https://drive.google.com/file/d/1OkGWQOOwWQqCBmt38a7WoQHV0unIAjtT/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <!-- Group 4 -->
        <h2>Question: What is one of your favorite memories?</h2>
        <iframe src="https://drive.google.com/file/d/1S1fHCvP1k6PG3XCSBzuEc1nQ8xiWtomr/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <iframe src="https://drive.google.com/file/d/1qYR0OFrxep247NOI6TdXWYK0y5NOvWjh/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <iframe src="https://drive.google.com/file/d/1eAszSrbuqTfIFLMgvnzY55gQ7TJazZsB/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <!-- Group 2 -->
        <h2>Question: What are some values or beliefs that you hold dear?</h2>
        <iframe src="https://drive.google.com/file/d/1svrQJshswNhTh13-8dW8WKFbVWJWkMqt/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <iframe src="https://drive.google.com/file/d/10WNBfzSlKrINPcpjAKCjlyE9W0vQHU0K/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
        <iframe src="https://drive.google.com/file/d/1m843g742TcR9mrVWnQGCLzRuu2wYWS9y/preview" width = 400vw height = 300vw allow = "fullscreen"></iframe>
    </div>
    <h2 style = "text-align: center; font-size: 3em;">Summaries</h2>
    <div id = "summaryContainer">
        <h2>Question 1: How do you handle and cope with stress in your life?</h2>
        <div class = "row">
            <div class = "column" style = "background-color: #aaaa">
                <h3>Video 1</h3>
                <p>She says that stress is a part of life and can be caused by many factors; this includes loneliness, especially for senior citizens.
                She uses hobbies, such as knitting and singing, as an outlet for her stress.</p>
            </div>
            <div class = "column" style = "background-color: #bbbb">
                <h3>Video 2</h3>
                <p>She was a principal in India, so she faced a lot of stress. She also faced many difficulties in life, such as being a single parent,
                but she has managed to deal with her stress through work and music.</p>
            </div>
            <div class = "column" style = "background-color: #cccc">
                <h3>Video 3</h3>
                <p>She says that she lives her life with three F's: don't <strong>F</strong>ind <strong>F</strong>ault in others, 
                <strong>F</strong>orgive others for their mistakes, and <strong>F</strong>orget the bad things and move on. She advises
                the younger generation to adopt this mindset to prevent feeling stressed.</p>
            </div>
        </div>
        <h2>Question 2: What is one significant challenge you have faced in your life? How did you overcome it?</h2>
        <div class = "row">
            <div class = "column" style = "background-color: #aaaa">
                <h3>Video 1</h3>
                <p>He was raised by a single parent in a small seafood town with limited opportunities, so he had limited interaction with the "outside world."</p>
            </div>
            <div class = "column" style = "background-color: #bbbb">
                <h3>Video 2</h3>
                <p>He describes surviving a tornado in the Philippines by hiding in a cabinet.</p>
            </div>
            <div class = "column" style = "background-color: #cccc">
                <h3>Video 3</h3>
                <p>She describes the difficulty she had learning English when she moved to the United States, and then explains the process she used to learn
                the new language.</p>
            </div>
        </div>
        <h2>Question 3: What was it like where you grew up?</h2>
        <div class = "row">
            <div class = "column" style = "background-color: #aaaa">
                <h3>Video 1</h3>
                <p>He says that his upbringing enabled him to be successful in his career. He describes his amazing work as a nuclear engineer.</p>
            </div>
            <div class = "column" style = "background-color: #bbbb">
                <h3>Video 2</h3>
                <p>He shares his life experiences, such as funny stories about engaging in hobbies, listening to music, going for walks, and spending time with family.</p>
            </div>
            <div class = "column" style = "background-color: #cccc">
                <h3>Video 3</h3>
                <p>He discusses his education and how it led to his career. As a child, he enjoyed studying and playing games, such as <em>Kabaddi</em>, 
                a popular South Asian game.</p>
            </div>
        </div>
        <h2>Question 4: What is one of your favorite memories?</h2>
        <div class = "row">
            <div class = "column" style = "background-color: #aaaa">
                <h3>Video 1</h3>
                <p>He describes a cruise he took to Alaska with family and friends. He was amazed to see the size and functions of the ship, and even had 
                the opportunity to ride a seaplane and land on a glacier.</p>
            </div>
            <div class = "column" style = "background-color: #bbbb">
                <h3>Video 2</h3>
                <p>He describes the story of getting his first ever salary- and how he almost lost it. His lesson to teach the younger people is that 
                money that is worked hard for will never go to waste.</p>
            </div>
            <div class = "column" style = "background-color: #cccc">
                <h3>Video 3</h3>
                <p>He looks upon his entire childhood fondly. Although he faced difficulties, he learned from them; for instance, he had to change schools 
                many times, but it helped teach him how to make friends.</p>
            </div>
        </div>
        <h2>Question 5: What are some values or beliefs that you hold dear?</h2>
        <div class = "row">
            <div class = "column" style = "background-color: #aaaa">
                <h3>Video 1</h3>
                <p>He gives many pieces of advice for the younger generation, such as the importance of planning for achieving success.</p>
            </div>
            <div class = "column" style = "background-color: #bbbb">
                <h3>Video 2</h3>
                <p>She thinks that honesty is a very important value in order to combat corruption, which is unfortunately prevalent where she is from.</p>
            </div>
            <div class = "column" style = "background-color: #cccc">
                <h3>Video 3</h3>
                <p>She believes that family, friends, and religion are very important.</p>
            </div>
        </div>
        <br>
        <br>
        <h1>Project Explanation</h1>
        <p>Hello! My name is Pratyush Saxena, and this is my Eagle Scout Project. 
        I led a team of scouts in conducting interviews with the seniors at Dulles South Senior Citizen Center. 
        There were two objectives of this project; firstly, to give the seniors someone to talk to and contribute to their mental well-being. 
        The second goal was for the younger generations to learn from the senior citizens' advice and life experiences.
        Overall, conducting this project took 150 man-hours.</p>
        <a href="https://lh3.googleusercontent.com/pw/AIL4fc_aOeakA7PnCTDFH1zOcI2G-M6t9KRYcHi3wWf3nR1_wl0pAj-PSHrRak6uSWzxHTp_NL_Ne-srOk-j8ET4hMFrkC78bdaPaCQaoovsMbV0PTPHhts=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/pw/AIL4fc_aOeakA7PnCTDFH1zOcI2G-M6t9KRYcHi3wWf3nR1_wl0pAj-PSHrRak6uSWzxHTp_NL_Ne-srOk-j8ET4hMFrkC78bdaPaCQaoovsMbV0PTPHhts=w600-h315-p-k" /> </a>
        <a href="https://lh3.googleusercontent.com/pw/AIL4fc_OGspQNIT3tvnPvvjV-faIXO7DKerVyvuHBtZaH90k32ouIiwDs9KqIclcdeaH4s3yuXkxV4qOdWZ4SUN3gfVQmV5DXIeJu3lwokg_sfie5btxVQo=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/pw/AIL4fc_OGspQNIT3tvnPvvjV-faIXO7DKerVyvuHBtZaH90k32ouIiwDs9KqIclcdeaH4s3yuXkxV4qOdWZ4SUN3gfVQmV5DXIeJu3lwokg_sfie5btxVQo=w600-h315-p-k" /> </a>
        <a href="https://lh3.googleusercontent.com/pw/AIL4fc-LcLnRZvw3T2U3I1betdtUoA71zge1OcWtgSi4jP8262ltTYNZKDcCSiDEXxuyRDG2wN8fTbENk_5Avg66t44lFWoEoI8JTUK_ZNrEYCkehl8SXl4=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/pw/AIL4fc-LcLnRZvw3T2U3I1betdtUoA71zge1OcWtgSi4jP8262ltTYNZKDcCSiDEXxuyRDG2wN8fTbENk_5Avg66t44lFWoEoI8JTUK_ZNrEYCkehl8SXl4=w600-h315-p-k" /> </a>
    </div>
</body>
</html>