<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Pratyush's Cool Website</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/general_style.css')}}">
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/extracurriculars_style.css')}}">
</head>
<body>
    <button class = "backButton" onclick = "history.back()">Back</button>
    <header>Extracurriculars</header>
    <br>
    <h2>NASA Internship</h2>
    <p>DESCRIPTION HERE</p>
    <br>
    <h2>Noesys Inc. Operations Assistant and Analytics Intern</h2>
    <p>DESCRIPTION HERE</p>
    <br>
    <h2>Congressional Debate</h2>
    <p>DESCRIPTION HERE</p>
    <br>
    <h2>Artificial Intelligence Researcher</h2>
    <p>DESCRIPTION HERE</p>
    <br>
    <h2>Director of Web Development at BranchOut</h2>
    <p>DESCRIPTION HERE</p>
    <br>
    <h2>Technology Student Association</h2>
    <p>DESCRIPTION HERE</p>
    <br>
    <h2>Vice President of Cloud Computing Club</h2>
    <p>DESCRIPTION HERE</p>
    <br>
    <h2>T-REX Research</h2>
    <p>DESCRIPTION HERE</p>
    <br>
    <h2>Webmaster of Psychology Society Club</h2>
    <p>DESCRIPTION HERE</p>
    <br>
    <h2>Creator of AeroHydroBottle</h2>
    <p>DESCRIPTION HERE</p>
</body>
</html>