<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Pratyush's Cool Website</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/general_style.css')}}">
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/sysadmin_style.css')}}">
</head>
<body>
    <button class = "backButton" onclick = "history.back()">Back</button>
    <header>Sysadmin</header>
    <p id = "header_text">As one of the top high schools in the nation, TJ has many unique opportunities. One of these is being part of the Sysadmins, a team of students who maintain Ion (the school's intranet), Director (a website management application used by students), webmail for students, high performance computing clusters, and more.</p>
    <br><br><br><br>
    <div id = "container_1">
        <p id = "paragraph_1">During my freshman year when I applied to be a sysadmin, 8 out of 73 applicants were selected. Since then, I have contributed to the team and currently hold the position of Documentation Co-Lead. My responsibility includes maintaining documentation of systems in the lab for future sysadmins to reference. However, I also contribute to the other teams.</p>
        <img src = "../static/img/documentation_img.png" width = "700vw">
    </div>
    <p>The Student Systems Administrators team (Sysadmins) at my school, Thomas Jefferson High School for Science and Technology, is made up of 14 students. We maintain the school’s intranet, webmail, and various other services. These resources are crucial in the everyday functioning of the school, such as for students to sign up for clubs using the intranet or for teachers to grade computer science assignments with the AI grader. To become a Sysadmin, students first apply to become understudies; in this program, they shadow current Sysdamins and expand their knowledge regarding various topics, such as different aspects of software and hardware. During my freshman year, when I applied, 8 of 73 applicants were selected to be Sysadmins.
        <br><br>
        As a Sysadmin, I have learned fundamental skills regarding web development and maintenance. I have also had the opportunity to work with advanced hardware, such as a high performance computing cluster gifted by NASA. I hold the position of Documentation Co-Lead, so I maintain documentation of the lab for future Sysadmins to reference. I also contribute to the other teams, such as by updating the software of outdated workstations around the school.</p>
</body>
</html>