<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Pratyush's Cool Website</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/general_style.css')}}">
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/w3_study_style.css')}}">
</head>
<body>
    <button class = "backButton" onclick = "history.back()">Back</button>
    <header>Sysadmin</header>
</body>
</html>