<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Pratyush's Cool Website</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/general_style.css')}}">
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/tae_kwon_do_style.css')}}">
</head>
<body>
    <button class = "backButton" onclick = "history.back()">Back</button>
    <header>Tae Kwon Do</header>
    <br><br><br><br>
    <div class = "belt_container">
        <p class = "description_type_1">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
        <p class = "date">04-10-2016</p>
        <img class = "belt_pic_type_1" src = "../static/img/dog.png" width = "450vw" height="450vh">
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <img class = "belt_pic_type_2" src = "../static/img/dog.png" width = "450vw" height="450vh">
        <p class = "date">04-10-2016</p>
        <p class = "description_type_2">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <p class = "description_type_1">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
        <p class = "date">04-10-2016</p>
        <img class = "belt_pic_type_1" src = "../static/img/dog.png" width = "450vw" height="450vh">
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <img class = "belt_pic_type_2" src = "../static/img/dog.png" width = "450vw" height="450vh">
        <p class = "date">04-10-2016</p>
        <p class = "description_type_2">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <p class = "description_type_1">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
        <p class = "date">04-10-2016</p>
        <img class = "belt_pic_type_1" src = "../static/img/dog.png" width = "450vw" height="450vh">
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <img class = "belt_pic_type_2" src = "../static/img/dog.png" width = "450vw" height="450vh">
        <p class = "date">04-10-2016</p>
        <p class = "description_type_2">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <p class = "description_type_1">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
        <p class = "date">04-10-2016</p>
        <img class = "belt_pic_type_1" src = "../static/img/dog.png" width = "450vw" height="450vh">
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <img class = "belt_pic_type_2" src = "../static/img/dog.png" width = "450vw" height="450vh">
        <p class = "date">04-10-2016</p>
        <p class = "description_type_2">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <p class = "description_type_1">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
        <p class = "date">04-10-2016</p>
        <img class = "belt_pic_type_1" src = "../static/img/dog.png" width = "450vw" height="450vh">
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <img class = "belt_pic_type_2" src = "../static/img/dog.png" width = "450vw" height="450vh">
        <p class = "date">04-10-2016</p>
        <p class = "description_type_2">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <p class = "description_type_1">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
        <p class = "date">04-10-2016</p>
        <img class = "belt_pic_type_1" src = "../static/img/dog.png" width = "450vw" height="450vh">
    </div>
    <br><br><br><br>
    <div class = "belt_container">
        <img class = "belt_pic_type_2" src = "../static/img/dog.png" width = "450vw" height="450vh">
        <p class = "date">04-10-2016</p>
        <p class = "description_type_2">This is a paragraph about the belt. I still need to fill out the <br> details.</p>
    </div>
</body>
</html>