<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pratyush's Cool Website</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/general_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tae_kwon_do_style.css')}}">
</head>
<body>
    <button class="backButton" onclick="history.back()">Back</button>
    <header>Tae Kwon Do</header>
    <br><br><br><br>
    <div class="belt_container">
        <p class="description_type_1">I began Tae Kwon Do as a white belt the summer after second grade.</p>
        <p class="date">07-26-2016</p>
        <img class="belt_pic_type_1" src="../static/img/white_belt_img.png" width="450vw" height="450vh">
    </div>
    <br><br><br><br>
    <div class="belt_container">
        <img class="belt_pic_type_2" src="../static/img/yellow_belt_img.png" width="450vw" height="450vh">
        <p class="date">10-26-2016</p>
        <p class="description_type_2">After three months, I earned my yellow belt. This was the first test I had to take to earn a belt—I broke my first ever wooden board with a front kick.</p>
    </div>
    <br><br><br><br>
    <div class="belt_container">
        <p class="description_type_1">To earn my purple belt, I had to learn more complex techniques. This was the first belt that moved me to a higher-rank class.</p>
        <p class="date">07-26-2017</p>
        <img class="belt_pic_type_1" src="../static/img/purple_belt_img.png" width="450vw" height="450vh">
    </div>
    <br><br><br><br>
    <div class="belt_container">
        <img class="belt_pic_type_2" src="../static/img/blue_belt_img.png" width="450vw" height="450vh">
        <p class="date">01-24-2018</p>
        <p class="description_type_2">During my test for blue belt, I had to break a board with a spin roundhouse kick. I missed the board during my first attempt for the first time in all my tests. However, I was able to do it my second try. Although it was a little bit embarrassing, it was an important failure. I became more humble and trained harder than ever before.</p>
    </div>
    <br><br><br><br>
    <div class="belt_container">
        <p class="description_type_1">Earning my dark blue belt resulted in moving up to a higher rank class. This was a level of skill that I was completely unused to, but I worked hard to catch up to the others.</p>
        <p class="date">07-19-2018</p>
        <img class="belt_pic_type_1" src="../static/img/dark_blue_belt_img.png" width="450vw" height="450vh">
    </div>
    <br><br><br><br>
    <div class="belt_container">
        <img class="belt_pic_type_2" src="../static/img/recommended_black_belt_img.png" width="450vw" height="450vh">
        <p class="date">01-20-2019</p>
        <p class="description_type_2">The test for recommended black belt was a completely different level than all the others. I was aware that it was notorious for being difficult, though, so I had practiced for weeks before. I was able to do everything successfully the first time and pass the test.</p>
    </div>
    <br><br><br><br>
    <div class="belt_container">
        <p class="description_type_1">Years of effort and time finally culminated into the black belt test. This was the longest and most difficult test of all—I had to demonstrate all the techniques I had learned throughout the past five years, break wooden boards, and spar multiple rounds. I was able to pass my first try, though, and earn by black belt during my freshman year.</p>
        <p class="date">09-23-2021</p>
        <img class="belt_pic_type_1" src="../static/img/black_belt_img.png" width="450vw" height="450vh">
    </div>
</body>
</html>